<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>


<div ng-controller="AvengersCtrl">
  <input type="text" ng-model="search.$" />
  <table>
    <tr ng-repeat="actor in avengers.cast | orderBy:'name' | limitTo:5 | filter:search">
      <td>{{actor.name | uppercase}}</td>
      <td>{{actor.character | lowercase}}</td>
    </tr>
  </table>

</div>